@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  color: white;
  background: #171717;
  font-family: Arial, Helvetica, sans-serif;
}